* {
   box-sizing: border-box;
}
#headerLogo {
   background: url('https://d1tb5im0xynh1.cloudfront.net/static/images/logo.png?70c6dfe13feb') no-repeat;
}
a:active {
   text-decoration: underline 3px !important;
   text-decoration-color: red !important;
}
h4 {
   font-weight: 400 !important;
   font-size: 18px !important;
   margin: 20px 0;
}
.download {
   padding: 50px 0;
}
.app-store {
   background: url('https://d1tb5im0xynh1.cloudfront.net/static/images/app-download-badges/app-store-desktop.png')
}
.carousel-indicator {
   width: 30px;
   height: 3px;
   gap: 5px;
   opacity: .5;
}
.carousel-indicator:active {
   transition: opacity .6s ease;
}
.container-fluid {
   padding: 0 !important;
}
.wrapper {
   background: url("https://d1tb5im0xynh1.cloudfront.net/static/images/download-section/bg-desktop.png");
   display: flex;
   flex-flow: row wrap;
}

@media (max-width: 800px) {
   .carousel-main {
      padding-top: 40px;
   }
}

@media (max-width: 500px) {
   .wrapper {
     display: none;
   }
  
 }


 .carousel-main {
   overflow: auto;
   height: 100%;
 }

 h3 {
   color: #fa2121;
   text-align:center;

 }

 p {
   color: #8b8b8b;
   text-align:center;
 }